.ui-widget-overlay {
    background: black;
    position: initial;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
    border: 1px solid #2963fe;
    color: black;
}