.settings {
    margin: 50px 0 0 0;
}
.intval div:first-child{
    padding-left:
}
.settings .text textarea{
    width: 389px;
    height: 260px;
}
.settings .text{
    position: absolute;
    margin: 0 0 0 250px;

}
.settings .select{
    position: relative;
    width: 400px;
}
.settings .select .select-text{
    font-size: 10px;
    font-weight: bold;
}
.settings .themes{
    font-weight: bold;
}
.settings .param{
    float: left;
    width: 250px;
}
.text > .transliter{
    position: absolute;
    margin: 0 0 0 250px;
}
.text .symbol{
    position: absolute;

}
.text .past {
    position: relative;
    float: right;
    margin: 0 0 0 10px;
}
.past li{
    list-style-type: none;
    color: #0096dd;
    font-size: 13px;
    line-height: 18px;
    margin-left: 9px;
    text-decoration: none;
}
.past .title{

   font-size: 12px;
}
#smsText{
    width: 390px;
    height: 150px;
}
.button{
    position: relative;
    text-align: right;
    padding: 0 180px 0 0;
}
.text-info{
    float: left;
    position: absolute;
}
#message{
    //  display: none;
}