#Moskow .sold{
    width: 100px
}
#Moskow .span1{
    width: 5ы0px
}
#excel{
    margin-top: 10px;
    float:right;
    margin-right: 230px;
}
#Moskow, #Vladivostok, #Xabarovsk, #Egorievsk{
     max-width: 110%;
     width: 670px;
}
#Egorievsk{
    margin-top: -1px;
}
.Panki p{
    margin-right: 15px;
    float: right;
}
#nds .itog-txt{
   padding-right: -155px;
}
#nds .itog{
    padding-right: -15px;
}
.itog-txt{
    padding-right: 25px;
}
#top-themes{
    margin-bottom: 25px;
    color: black;
    font-weight: 500;
    font: 22px arial,sans-serif;
}
.class1{
    font-weight: bold;
}
.sold{
    border: 1px solid rgb(228, 229, 229);
    height: 30px;
    text-align: center;
    font-size: 12px;
}
.btn1{
    width: 220px;
    height: 41px;
    border: 0px none;
    font-size: 16px;
}
.typeahead{
    text-align: left;
    width: 0 px;
}
#content{
    width: 900px;
}
p.close{
    
}
#non-nds p{
    margin-bottom: 0px;
}