
.megapolis-order-table-header{
    font-weight: bold;
    font-style: italic;
    margin-left: 18px;
    margin-top: 18px;
    margin-bottom: 5px;
}
.megapolis-order-table-right{
    padding-left: 10px;
}
#megapolis_orders_alert{
    width: 80%;
    margin-left: 180px;
}
#fileLoad{
    height: 44px;
}
#fileLoad .control-group  {
    background-color: #FFFFFF;

    cursor: pointer;
    height: 28px;
    border: 1px solid red;
    overflow: hidden;
    padding: 2px;
    position: relative;
    text-align: left;
    vertical-align: middle;
    width: 140px;
    padding: 0px;
}

#fileLoad .control-group  .control-label {
    background-color: #A2A3A3;

    color: #FFFFFF;
    float: left;
    font-size: 16px;
    height: 40px;
    line-height: 20px;
    overflow: hidden;
    padding: 5px 5px 5px 5px;
    text-align: center;
    vertical-align: middle;
    width: 130px;
}

#fileLoad .control-group #OrderLoad_fileField{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    float: left;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    font-size: 150px;
    height: 30px;
    z-index:20;
}
#fileLoad #fileformlabel {
    background-color: #FFFFFF;
    position: relative;

    left: 150px;
    top: -40px;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    padding: 2px;
    text-align: left;
    vertical-align: middle;
    width:160px;
}
#fileLoad .control-group .help-inline{
    visibility: hidden;
}