#fileLoad .control-group  { 
    background-color: #FFFFFF;
    
    cursor: pointer;
    height: 26px;
    overflow: hidden;
    padding: 2px;
    position: relative;
    text-align: left;
    vertical-align: middle;
    width: 330px;
    padding: 0px;
}
 
#fileLoad .control-group  .control-label { 
    background-color: #A2A3A3;
    
    color: #FFFFFF;
    float: left;
    font-size: 16px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    padding: 5px 5px 5px 5px;
    text-align: center;
    vertical-align: middle;
    width: 130px;
}
 
#fileLoad .control-group #TrackingForm_fileField{
    position: absolute; 
    top:0; 
    left:0; 
    width:100%; 
    float: left;
    -moz-opacity: 0; 
    filter: alpha(opacity=0); 
    opacity: 0; 
    font-size: 150px; 
    height: 30px; 
    z-index:20;
}
#fileLoad #fileformlabel { 
    background-color: #FFFFFF;
    position: relative;
    left: 150px;
    top: -40px;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    padding: 2px;
    text-align: left;
    vertical-align: middle;
    width:160px;
}
#fileLoad .control-group .help-inline{
    visibility: hidden;
}
#stopTrack{
    margin-left: 750px;
    float: left;
}
#check_manual{
    float: left;
}