#megapolis_top {
    font-weight: bold;
    color: black;
    font-size: 14px;
    text-decoration: none;
}
#megapolis_intro {
    color: black;
    font: 12px Arial;
}
#megapolis_themes {
    font-size: 100%;
}
#megapolis_header-news{

}
#megapoils_middle {
    width: 800px;
    height: 400px;
    margin:0px;
    position: relative;
    float:left;
    margin-top: 10px;
}
#megapolis_more {
    color: black;
    font: 12px Arial;
}
#megapolis_time {
    font: 12px Arial;
}