
#megapolis_block A{
    color: #FFFFFF;
}
body{
    font: 10pt/10pt sans-serif;

}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
 border: 1px solid #0e0a0c;
 background: #796EFF url(images/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x;
 color: #FFFFFF;
}

.btn-group > .btn.active {
    z-index: 0;
}
.ui-widget-overlay{
    position: static;
}
.main-question{
    display: inline;
}
#top-client-n-exit{
    font-weight: bold;
    text-align: right;
    font-size: 15px;
}
#js-time{
    text-align: right;
    font-weight: normal;
    padding-top: 98px;
    padding-right: 0px;
}
#top-client-s{
    float: left;
    text-align: right;
    font-weight: bold;
    vertical-align: middle;
    font-family: Arial,Verdana,Geneva,Helvetica,sans-serif;
    font-size: 12px;
}
#top-client-n{
    float: left;
    text-align: left;
    padding-left: 12px;
}
#top-tel-s{
    float: left;
    padding-left: 20px;
    text-align: rleft;
}
#top-tel-n{
    float: right;
    padding-left: 20px;
    text-align: right;
}
#top-logo{
    position: absolute;
    width: 150px;
    left: 300px;
    top: 15px;
}
#top-client{
    position: absolute;
    left: 631px;
    top: 12px;
}
#top-tel{
    position: absolute;
    left: 445px;
    top: 92px;
    padding: 0px 0px 0px 0px;
    vertical-align: middle;
    font-family: Arial,Verdana,Geneva,Helvetica,sans-serif;
    font-size: 12px;

    font-weight: bold;
}

#megapolis_header{
    z-index: 1;
}
.dropdown-menu{
    z-index: 3;
}
#megapolis-page{
    position: absolute;
    padding-left: 275px;
}
#megapolis_block{
    height: 150px;
    min-width: 800px;


}
.navbar-fixed-top{
    top: 192px;
}
#main-block-company{
    position:absolute;
    left: 888px;
    top: 30px;
}
.navbar-fixed-top{
    position: relative;
}
.navbar-inner{
    padding-left: 0px;  
}
.breadcrumbs.breadcrumb{
    width: 840px;
    margin-top: 10px;
}
.navbar-fixed-top .container{
    width: 870px;
}
#megapolis-page{
    width: 872px;
}
.navbar-fixed-top .navbar-inner{
    float: left;
}
ul.megapolis-panel-navigation{
    float: left;
    list-style: none outside none;
    margin: 11px 0 2px;
    padding: 0;
}
ul.megapolis-panel-navigation li div {
    background: url("/production/images/arrow.png") no-repeat scroll 0 4px transparent;
    height: 15px !important;
    margin: 0 5px;
    width: 9px !important;
}
ul.megapolis-panel-navigation li{
    float: left;
}
ul.megapolis-panel-navigation{
}
#megapolis-title{
    font-style: italic;
    font-size: 19px;
    margin-bottom: 10px;
    margin-top: 54px;
}
ul.breadcrumbs{
    margin-bottom: 6px;
}
.megapolis-row{
    margin-top: 42px;
}
#content{
    min-height: 429px;
}
.language{
    position: absolute;
    left: 150px;
    width: 110px;
}
.lang_panel_de {
    background: url("/production/images/icons-bitrix.png") no-repeat scroll 0 -8117px rgba(0, 0, 0, 0);
    display: block;
    width: 30px;
    height:27px;
    float: right;

}
.lang_panel_ru {
    background: url("/production/images/icons-bitrix.png") no-repeat scroll 0 -8152px rgba(0, 0, 0, 0);
    display: block;
    width: 30px;
    height:27px;
    float: left;
}
.lang_panel_eng {
    background: url("/production/images/united-kingdom-flag.png") no-repeat rgba(0, 0, 0, 0);
    display: block;
    width: 30px;
    height:27px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}