.megapolis-table{
    display: inline-table;
    width: 58%;
}
.megapolis-tr{
    display: table-row;
}
.megapolis-td{
    display: table-cell;
}
.megapolis-sub{
    padding-top: 10px;
}

#fileLoad{
    width: 400px;
}
#fileLoad #NpForm_file  {
    background-color: #FFFFFF;

    cursor: pointer;
    height: 28px;
    overflow: hidden;
    padding: 2px;
    position: relative;
    text-align: left;
    vertical-align: middle;
    width: 140px;
    padding: 0px;
}

#NpForm_file {
    background-color: #A2A3A3;

    color: #FFFFFF;
    float: left;
    font-size: 16px;
    height: 40px;
    line-height: 20px;
    overflow: hidden;
    padding: 5px 5px 5px 5px;
    text-align: center;
    vertical-align: middle;
    width: 130px;
}

#fileLoad .control-group #NpForm_file{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    float: left;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    font-size: 150px;
    height: 30px;
    z-index:20;
}
#fileformlabel {
    background-color: #FFFFFF;
    position: relative;

    left: 9px;
    top: -3px;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    padding: 2px;
    text-align: left;
    vertical-align: middle;
    width:160px;
}
#fileLoad .control-group .help-inline{
    visibility: hidden;
}